MAILERSEND_API_KEY = "REPLACE WITH YOUR MAILERSEND API KEY"
MAILERSEND_FROM="REPLACE WITH YOUR EMAIL FROM MAILERSEND"
MAILERSEND_FROM_NAME = "G2A Scraper App"
OPENAI_API_KEY="REPLACE WITH YOUR OPENAI API KEY"
OPENAI_CONFIG_LOCATION="configs/openai_config.json"
G2A_CONFIG_LOCATION="configs/g2a_config.json"
SELINUM_IMPLICIT_WAIT_TIME="10"
TIMER_WAIT_TIME="10"


